<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SHERLOCK - Gestione informazioni</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css"
            rel="stylesheet"
    />
</head>
<body>
<div class="flex flex-col min-h-screen bg-gray-100">
    <header class="flex items-center h-16 px-4 border-b bg-white">
        <a
                class="flex items-center gap-2 text-lg font-semibold md:text-base"
                href="#"
        >
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-6 h-6"
            >
                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10"></path>
            </svg>
            <span>SHERLOCK</span>
        </a>
        <nav class="flex items-center ml-auto gap-5 text-md font-medium">
            <a href="/informazioni_fornite" class="hover:underline"
            >Informazioni principali</a
            >
            <a href="/fonti1" class="hover:underline">Fonti</a>

            <button
                    id="dropdownDefaultButton"
                    data-dropdown-toggle="dropdown"
                    class="transition-colors text-emerald-500 border-2 border-emerald-500 hover:bg-emerald-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md py-2 px-4 text-center inline-flex items-center active:bg-emerald-200"
                    type="button"
            >
                Calcola universi
                <svg
                        class="w-2.5 h-2.5 ms-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 10 6"
                >
                    <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 4 4 4-4"
                    />
                </svg>
            </button>

            <!-- Dropdown menu -->
            <div
                    id="dropdown"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
            >
                <ul
                        class="py-2 text-sm text-gray-700"
                        aria-labelledby="dropdownDefaultButton"
                >
                    <li>
                        <a href="/goods_BO" class="block px-4 py-2 hover:bg-gray-100"
                        >Best out</a
                        >
                    </li>
                    <li>
                        <a href="/goods_DS" class="block px-4 py-2 hover:bg-gray-100"
                        >Dempster-Shafer</a
                        >
                    </li>
                    <li>
                        <a href="/goods_media" class="block px-4 py-2 hover:bg-gray-100"
                        >Media</a
                        >
                    </li>
                </ul>
            </div>

            <a
                    href="/seleziona_caso"
                    class="active:bg-red-200 inline-flex items-center justify-center whitespace-nowrap rounded-md ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 border-2 border-red-500 text-red-500 px-4 py-2 hover:bg-red-100"
            >Cambia caso</a
            >
            <a
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-md font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-black text-white hover:bg-black/75 active:bg-black/50 px-4 py-2 mx-2 border-2 border-black hover:border-black/75 active:border-black/50"
                    href="logout"
            >
                Logout
            </a>
        </nav>
    </header>
    <main class="flex-1 jhu py-6 px-4 md:px-6 lg:px-8 mx-auto">
        <section class="w-full max-w-4xl">
            <h1 class="text-4xl font-bold mb-4 text-center">
                Gestione informazioni
            </h1>
            <h1 class="text-3xl font-bold mb-4 text-center">
                Elimina informazioni
            </h1>
            <div class="overflow-x-auto">
                <table
                        class="w-full table-auto border-collapse rounded-md border border-separate border-tools-table-outline border-gray-400 border-1 border-spacing-0"
                >
                    <thead class="bg-gray-200 rounded-t-md">
                    <tr>
                        <th
                                class="border-b border-r border-gray-400 px-4 py-2 rounded-tl-md"
                        >
                            ID
                        </th>
                        <th class="border-b border-r border-gray-400 px-4 py-2">
                            Informazione
                        </th>
                        <th class="border-b border-gray-400 px-4 py-2">
                            Azione
                        </th>
                    </tr>
                    </thead>
                    <tbody class="bg-white rounded-b-md">
                    <!-- Le righe saranno aggiunte dinamicamente qui dallo script JS -->
                    </tbody>
                </table>
            </div>
            <div class="overflow-x-auto">
                <h1 class="text-3xl font-bold m-4 text-center">
                    Aggiungi informazione
                </h1>
                <form action="/elabora" method="post" class="grid gap-4 mx-2">
                    <div class="grid gap-2">
                        <label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                for="info"
                        >
                            Informazione
                        </label>
                        <input
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                id="info"
                                placeholder="Inserisci la nuova informazione"
                                required=""
                                name="Informazione"
                        />
                        <label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                for="nomeFonte"
                        >
                            Nome della fonte
                        </label>
                        <input
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                id="nomeFonte"
                                placeholder="Inserisci la fonte (scegli dal menu se già esistente)"
                                required=""
                                name="Fonte"
                                list="elenco_fonti"
                        />
                        <datalist id="elenco_fonti">
                            <!-- Le opzioni saranno aggiunte dinamicamente qui dallo script JS -->
                        </datalist>
                        <label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                for="attendibFonte"
                        >
                            Attendibilità della fonte
                        </label>
                        <input
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                id="attendibFonte"
                                placeholder="Inserisci l'attendibilità della fonte (0-1)"
                                required=""
                                name="Attendibilità_della_fonte"
                        />
                    </div>
                    <button
                            id="pulsante-crea-caso"
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-black text-white hover:bg-black/75 active:bg-black/50 h-10 px-4 py-2"
                            type="submit"
                    >
                        Aggiungi informazione
                    </button>
                </form>
            </div>
            <div class="overflow-x-auto">
                <h1 class="text-3xl font-bold m-4 text-center">
                    Collega informazioni
                </h1>
                <form action="/inserisciInfoCollegate" method="post" class="grid gap-4 mx-2">
                    <div class="grid gap-2">
                        <label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                for="primaInfo"
                        >
                            Prima informazione
                        </label>
                        <select
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                id="primaInfo"
                                name="info_fonte1"
                        ></select>
                        <p id="not-selected-message" class="hidden text-red-500 text-xs mt-1 mx-2">A causa della selezione del "NON È VERO", la prima informazione non viene considerata.</p>

                        <label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                for="caseTitle"
                        >
                            Connettore
                        </label>
                        <div
                                class="grid grid-cols-3 gap-5 border border-black rounded-md p-4"
                        >
                            <input type="hidden" id="selected-connector-input" name="operator" value=""/>
                            <div
                                    data-connector-type="->"
                                    data-tooltip-target="tooltip-implies"
                                    class="---connector flex items-center flex-col bg-white rounded-md py-4 shadow px-2"
                            >
                                <img src="../static/implies.svg" class="h-16"/>
                                <span class="font-bold text-md mt-2">IMPLICA</span>
                            </div>
                            <div
                                    id="tooltip-implies"
                                    role="tooltip"
                                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm transition-opacity duration-300 font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip w-96"
                            >
                                Il connettore "implica" rappresenta l'implicazione logica.
                                Significa che se la prima affermazione è vera, allora deve
                                essere vera anche la seconda. Ad esempio, "Se piove, la
                                strada è bagnata" rappresenta che il fatto che
                                l'informazione "piove" sia vera IMPLICA che l'informazione
                                "la strada è bagnata" è vera.
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <div
                                    data-connector-type="<->"
                                    data-tooltip-target="tooltip-iff"
                                    class="---connector flex items-center flex-col bg-white rounded-md py-4 shadow px-2"
                            >
                                <img src="../static/iff.svg" class="h-14 translate-y-1"/>
                                <span class="font-bold text-md mt-4">SE E SOLO SE</span>
                            </div>
                            <div
                                    id="tooltip-iff"
                                    role="tooltip"
                                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm transition-opacity duration-300 font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip w-96"
                            >
                                Il connettore "se e solo se" rappresenta una relazione di
                                necessità e sufficienza tra due informazioni. Entrambe le
                                affermazioni, se connesse tramite "se e solo se", devono
                                essere vere o false contemporaneamente. Ad esempio, "piove
                                SE E SOLO SE il cielo è grigio", significa che il cielo è
                                grigio quando piove e viceversa.
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <div
                                    data-connector-type="and"
                                    data-tooltip-target="tooltip-and"
                                    class="---connector flex items-center flex-col bg-white rounded-md py-4 shadow px-2"
                            >
                                <img src="../static/andor.svg" class="h-16 rotate-90"/>
                                <span class="font-bold text-md mt-2">E</span>
                            </div>
                            <div
                                    id="tooltip-and"
                                    role="tooltip"
                                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm transition-opacity duration-300 font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip w-96"
                            >
                                Il connettore "e" (ing. AND) rappresenta la congiunzione
                                logica. Entrambe le informazioni collegate dal connettore
                                "e" devono essere vere affinché l'informazione risultante
                                sia vera. Ad esempio, l'informazione "è giorno E il sole è
                                alto" è un'informazione vera solo se è giorno e, allo stesso
                                tempo, il sole è alto.
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <div
                                    data-connector-type="or"
                                    data-tooltip-target="tooltip-or"
                                    class="---connector flex items-center flex-col bg-white rounded-md py-4 shadow px-2"
                            >
                                <img src="../static/andor.svg" class="h-16 -rotate-90"/>
                                <span class="font-bold text-md mt-2">OPPURE</span>
                            </div>
                            <div
                                    id="tooltip-or"
                                    role="tooltip"
                                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm transition-opacity duration-300 font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip w-96"
                            >
                                Il connettore "oppure" (ing. OR) rappresenta la disgiunzione
                                logica. Questo connettore indica che ALMENO una delle due
                                informazioni collegate attraverso "oppure" deve essere vera.
                                Ad esempio, l'informazione "è giorno OPPURE è notte" è
                                un'informazione sempre vera perchè ALMENO una delle due
                                informazioni ("è giorno", "è notte") è vera in qualsiasi
                                situazione.
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <div
                                    data-connector-type="non"
                                    data-tooltip-target="tooltip-not"
                                    class="---connector flex items-center flex-col bg-white rounded-md py-4 shadow px-2"
                            >
                                <img src="../static/not.svg" class="h-16"/>
                                <span class="font-bold text-md mt-2">NON È VERO</span>
                            </div>
                            <div
                                    id="tooltip-not"
                                    role="tooltip"
                                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm transition-opacity duration-300 font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip w-96"
                            >
                                Il connettore "non è vero che" (ing. NOT) rappresenta la
                                negazione logica. Indica che l'informazione che segue non è
                                vera. Ad esempio, l'informazione "non è vero che piove"
                                indica che non sta piovendo.
                                <br/>
                                <br/>
                                N.B.: Questo è l'unico connettore che non collega due
                                informazioni ma si antepone solo ad una informazione. Per
                                questo motivo, la sua selezione disabilita la prima
                                informazione.
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                        </div>

                        <label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                for="secondaInfo"
                        >
                            Seconda informazione
                        </label>
                        <select
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                id="secondaInfo"
                                required=""
                                name="info_fonte2"
                        ></select>
                        <label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                for="nomeFonteCollegamento"
                        >
                            Nome della fonte
                        </label>
                        <input
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                id="nomeFonteCollegamento"
                                placeholder="Inserisci la fonte (scegli dal menu se già esistente)"
                                required=""
                                list="elenco_fonti"
                                name="fonte"
                        />
                        <label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                for="attendibFonteCollegamento"
                        >
                            Attendibilità della fonte
                        </label>
                        <input
                                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                id="attendibFonteCollegamento"
                                placeholder="Inserisci l'attendibilità della fonte (0-1)"
                                required=""
                                name="attendibilità"
                        />
                    </div>
                    <button
                            id="buttonCollega"
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-black text-white hover:bg-black/75 active:bg-black/50 h-10 px-4 py-2"
                            type="submit"
                            disabled
                    >
                        Collega informazioni
                    </button>
                </form>
            </div>
        </section>
    </main>
    <footer class="h-16 flex items-center justify-center border-t bg-white">
        <p class="text-2xl text-gray-500">2024</p>
    </footer>
</div>
<script defer src="../static/scripts/collega.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>
