<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SHERLOCK - Gestione universi</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css"
            rel="stylesheet"
    />
</head>
<body>
<div class="flex flex-col min-h-screen bg-gray-100">
    <header class="flex items-center h-16 px-4 border-b bg-white">
        <a
                class="flex items-center gap-2 text-lg font-semibold md:text-base"
                href="#"
        >
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-6 h-6"
            >
                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10"></path>
            </svg>
            <span>SHERLOCK</span>
        </a>
        <nav class="flex items-center ml-auto gap-5 text-md font-medium">
            <a href="/informazioni_fornite" class="hover:underline">Informazioni principali</a>
            <a href="/gestisci_info" class="hover:underline">Gestione informazioni</a>

            <button
                    id="dropdownDefaultButton"
                    data-dropdown-toggle="dropdown"
                    class="transition-colors text-emerald-500 border-2 border-emerald-500 hover:bg-emerald-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md py-2 px-4 text-center inline-flex items-center active:bg-emerald-200"
                    type="button"
            >
                Calcola universi
                <svg
                        class="w-2.5 h-2.5 ms-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 10 6"
                >
                    <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 4 4 4-4"></path>
                </svg>
            </button>

            <!-- Dropdown menu -->
            <div
                    id="dropdown"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
            >
                <ul
                        class="py-2 text-sm text-gray-700"
                        aria-labelledby="dropdownDefaultButton"
                >
                    <li>
                        <a href="/goods_BO" class="block px-4 py-2 hover:bg-gray-100"
                        >Best out</a
                        >
                    </li>
                    <li>
                        <a href="/goods_DS" class="block px-4 py-2 hover:bg-gray-100"
                        >Dempster-Shafter</a
                        >
                    </li>
                    <li>
                        <a href="/goods_media" class="block px-4 py-2 hover:bg-gray-100">Media</a>
                    </li>
                </ul>
            </div>

            <a
                    href="/seleziona_caso"
                    class="active:bg-red-200 inline-flex items-center justify-center whitespace-nowrap rounded-md ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 border-2 border-red-500 text-red-500 px-4 py-2 hover:bg-red-100"
            >Cambia caso</a
            >
            <a
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-md font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-black text-white hover:bg-black/75 active:bg-black/50 px-4 py-2 mx-2 border-2 border-black hover:border-black/75 active:border-black/50"
                    href="logout"
            >
                Logout
            </a>
        </nav>
    </header>
    <main  id="main-container" class="flex-1 jhu py-6 px-4 md:px-6 lg:px-8 mx-auto">
        <h1 class="text-4xl font-bold text-center mb-8">Universi ordinati secondo Dempster-Shafer</h1>


    </main>
    <footer class="h-16 flex items-center justify-center border-t bg-white">
        <p class="text-2xl text-gray-500">2024</p>
    </footer>
</div>
<script defer src="../static/scripts/goodsDS.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>